form {
    text-align:left;
    color:black;
    font-size:22px;
    width:75%;
    margin:0 auto;
}
#container {
    margin-top: 75px;
}


#game-title {
    color:black;
}
#start-button {
    width: 200px;
    padding:10px;
    background:green;
    border:1px solid black;
    color:white;
   font-size:22px;
    display: block;
    margin: 20px auto;
    
}
#how-to{
    color:black;
    
    font-weight:bold;
    text-decoration:none;
}


